extends layout

block content
   div(class="row")
        div(class="col-sm-5 col-md-6 col-md-offset-3")
            h1(class="col-md-offset-4") Fali.meua.migo
            div(class="form-control", contentEditable="true", name="expression", id="expression")
            h2(id="response") &nbsp;
    div(class="bs-footer col-md-offset-3 col-md-2" style="margin-top: 36%")
        a(href="http://falimeuamigo.tumblr.com" style) Saiba Mais
        div © 2014 Agripino Duarte